# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfplan

# Secretos / credenciales
*.tfvars.json
*.auto.tfvars
*.pem
*.key
*.json.key
credentials*.json
service-account*.json

# SO / IDE
.DS_Store
.idea/
.vscode/
